@media (max-width: 680px) {
  
  #logo{
      display: none;
  }
}
@media (max-width: 760px) {
  
  .final{
      padding:0 !important;
  }

}
.wrap{
  
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
    padding: 30px 0px; 
  

}

.question{
  width: 208px;
  

  color:white;
  background: #DA217F;
  border-radius: 0px 20px 20px 0px;
 
  display:flex;
  align-items: center;

  font-family: var(--bold-font);
  
}
.question p{
  padding: 10px 0;
  padding-bottom: 15px;
  margin:auto;
}

.nav-bg{
   background-color: white;
}
.final li{
   display: inline-block;
  
  
}
.final{
   margin: 0 !important;
}
.navbar-collapse{
   flex-grow: 0 !important;
}
.links, .link:visited, .link:active{
   color:#bb2a8d !important;
   font-family: var(--bold-font);
   text-decoration: none;
}
.links:hover{
   text-decoration: underline ;
}
.main-text{
  font-family: var(--bold-font);
  color:#861B64;
  font-size: 22px;
}