








/***** Sidebar *****/

.sidebar {
	width: 450px; height: 100vh; position: fixed; top: 0; left: -455px; z-index: 999; 
	background:  #52103d; color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { left: 0; }

.trail-item.active {
 position:relative;
 top: 20px;
left: 10px;
 visibility:visible;
 z-index: -1;
}
.trail-item{
    visibility:hidden;
}

.dismiss {
	width: 35px; height: 35px; position: absolute; top: 10px; right: 10px; transition: all .3s; 
	background: #DA217F; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}

.dismiss:hover, .dismiss:focus { background: #da217dc9; color: #fff; }

.sidebar .logo { padding: 40px 20px; border-bottom: 1px solid #444; transition: all .3s; }

.open-menu {position:fixed; left:30px; bottom:30px;z-index: 997; background: #DA217F !important; border: 0 !important; border-radius: 4px; border:0 !important;}

.open-menu span{  font-size: 25px; z-index: -1 !important;}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/***** Dark overlay *****/

.overlay {
    display: none; position: fixed; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.active { display: block; opacity: 1; }





