@media (max-width: 680px) {
  
  #logo{
      display: none;
  }
}
@media (max-width: 760px) {
  
  .final{
      padding:0 !important;
  }

}

.question{ 
  margin: auto;

  color:white;
  background: #DA217F;

  display:flex;
  align-items: center;

  font-family: var(--bold-font);
  
}
.question p{
  padding: 10px 0;
  padding-bottom: 15px;
  margin:auto;
}

.nav-bg{
   background-color: white;
}
.final{
   margin: 0 !important;
}
.final li{
   display: inline-block;  
}

.links, .link:visited, .link:active{
   color:#a7277e !important;
   font-family: var(--bold-font);
   text-decoration: none;
}
.links:hover{
   text-decoration: underline ;
}

#testes{
   width:600px !important;
}
.iframe{
 
   border-radius: 10px;
}
.bold-font{
   font-family: var(--bold-font);
}
.main-font{
   font-family: var(--main-font);
}

.progress{
   max-width: 300px;
   background-color: rgb(255, 255, 255) !important;
   height:20px !important;
}
.progress-bar{
   padding-bottom: 3px;
   background-color: #DA217F !important;
}